<div class="browse-header">
  <h1><%= h(page_title) %></h1>
</div>

<fieldset class="browse-filter">
  <legend>Filter by access</legend>
  <label><input type="radio" name="visibility-filter" value="all" checked> All</label>
  <label><input type="radio" name="visibility-filter" value="public"> Public</label>
</fieldset>

<% subjects_map.each do |subject, books_in_subject| -%>
  <details id="subject-<%= slugify(subject) %>">
    <summary>
      <%= h(subject) %>
      <span class="subject-count">(<%= books_in_subject.size %>)</span>
    </summary>
    <ul>
      <% books_in_subject.sort_by { |b| b["title_sort_key"] }.each do |book| -%>
        <li data-public="<%= book["public"] ? 'true' : 'false' %>">
          <img class="book-list-cover" src="/img/<%= book["ark"] %>_cover.jpg" alt="" width="150" height="225" loading="lazy" onerror="this.style.visibility='hidden'">
          <div>
            <div class="book-title">
              <a href="<%= book_url(book) %>"><%= h(book["title"]) %></a>
              <% if book["public"] -%>
                <span class="public-badge">public</span>
              <% end -%>
            </div>
            <div class="book-meta">
              <% if book["author"] && !book["author"].empty? -%>
                <%= h(book["author"]) %>
              <% end -%>
              <% info = pub_info(book) -%>
              <% unless info.empty? -%>
                &mdash; <span class="book-pub"><%= h(info) %></span>
              <% end -%>
            </div>
            <% if book["subjects"] && book["subjects"].size > 1 -%>
              <div class="book-subjects">
                Subjects:
                <%= book["subjects"].map { |s| %(<a href="#subject-#{slugify(s)}">#{h(s)}</a>) }.join(" | ") %>
              </div>
            <% end -%>
            <% if book["description"] && !book["description"].empty? -%>
              <div class="book-description"><%= h(book["description"]) %></div>
            <% end -%>
          </div>
        </li>
      <% end -%>
    </ul>
  </details>
<% end -%>
